<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment>
<!--
	=====================
		Partials/List/ItemMediaDummy.html
-->
</f:comment>

<n:link class="news-list__heading-link" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
	<span class="news-list__heading-text" itemprop="headline">{newsItem.title}</span>
</n:link>

</html>