<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="header__main no-hyphenation">

        <f:comment>
            <div class="header__lang">
                <f:render partial="Header/Navigation/Language" arguments="{navigationLanguage:navigationLanguage,pid:data.uid}" />
            </div>
        </f:comment>

        <div class="navigations" id="navigation" data-sitename="{siteName}">
            <div class="navigation__meta">
                <f:render partial="Header/Navigation/Meta" arguments="{navigationMeta:navigationMeta,pid:data.uid}" />
            </div>
            <div class="navigation__main">
                <f:render partial="Header/Navigation/Main" arguments="{navigationMain:navigationMain,pid:data.uid}" />
            </div>
            <div class="navigation__mobile">
                <f:render partial="Header/Navigation/Mobile" arguments="{navigationMain:navigationMain,pid:data.uid,navigationMeta:navigationMeta}" />
            </div>
        </div>
    </div>

</html>
