<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{navigationMain}">
	<f:then>
		<nav class="navigation">
			<ul class="navigation__list">
				<f:for each="{navigationMain}" as="navigationMainItem">
					<f:render partial="Header/Navigation/Elements/Item" arguments="{item:navigationMainItem,pid:pid,showArrows:'no'}"/>
				</f:for>
			</ul>
		</nav>
	</f:then>
</f:if>

</html>
