<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{navigationMain}">
	<f:then>
		<div class="navigation__mobile__burger">
			<span class="navigation__mobile__burger__bar"></span>
			<span class="navigation__mobile__burger__bar"></span>
			<span class="navigation__mobile__burger__bar"></span>
		</div>
		<div class="navigation__mobile__nav__wrap">
			<nav class="navigation__mobile__nav">
				<ul class="navigation__mobile__list">
					<f:for each="{navigationMain}" as="navigationMainItem">
						<f:render partial="Header/Navigation/Elements/Item" arguments="{item:navigationMainItem,pid:pid,showArrows:'yes'}"/>
					</f:for>
				</ul>
			</nav>
		</div>
	</f:then>
</f:if>

</html>
