<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:section name="paginator">
	<f:if condition="{pagination.numberOfPages} > 1">

		<div class="col12">
			<nav class="navigation-pagination align-center">
				<f:comment>
					<p class="navigation-pagination__info">
						<f:translate key="LLL:EXT:news/Resources/Private/Language/locallang.xlf:paginate_overall" arguments="{0:pagination.current,1:pagination.numberOfPages}" />
					</p>
				</f:comment>

				<ul class="navigation-pagination__list">
					<f:if condition="{pagination.previousPage}">
						<li class="navigation-pagination__item navigation-pagination__item--previous">
							<f:if condition="{pagination.previousPage} > 1">
								<f:then>
									<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET" arguments="{currentPage: pagination.previousPage}">
										<span class="navigation-pagination__text"><span class="far fa-chevron-left"></span></span>
									</f:widget.link>
								</f:then>
								<f:else>
									<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET">
										<span class="navigation-pagination__text"><span class="far fa-chevron-left"></span></span>
									</f:widget.link>
								</f:else>
							</f:if>
						</li>
					</f:if>

					<f:if condition="{pagination.displayRangeStart} > 1">
						<li class="navigation-pagination__item navigation-pagination__item--number navigation-pagination__item--first">
							<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET"><span class="navigation-pagination__text">1</span></f:widget.link>
						</li>
					</f:if>
					<f:if condition="{pagination.hasLessPages}">
						<li class="navigation-pagination__item navigation-pagination__item--number navigation-pagination__item--points navigation-pagination__item--has-no-action"><span class="navigation-pagination__text">…</span></li>
					</f:if>
					<f:for each="{pagination.pages}" as="page">
						<f:if condition="{page.isCurrent}">
							<f:then>
								<li class="navigation-pagination__item navigation-pagination__item--number navigation-pagination__item--current"><span class="navigation-pagination__text">{page.number}</span></li>
							</f:then>
							<f:else>
								<li class="navigation-pagination__item navigation-pagination__item--number">
									<f:if condition="{page.number} > 1">
										<f:then>
											<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET" arguments="{currentPage: page.number}"><span class="navigation-pagination__text">{page.number}</span></f:widget.link>
										</f:then>
										<f:else>
											<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET"><span class="navigation-pagination__text">{page.number}</span></f:widget.link>
										</f:else>
									</f:if>
								</li>
							</f:else>
						</f:if>
					</f:for>
					<f:if condition="{pagination.hasMorePages}">
						<li class="navigation-pagination__item navigation-pagination__item--number navigation-pagination__item--has-no-action navigation-pagination__item--points"><span class="navigation-pagination__text">…</span></li>
					</f:if>
					<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
						<li class="navigation-pagination__item navigation-pagination__item--number navigation-pagination__item--last">
							<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET" arguments="{currentPage: pagination.numberOfPages}"><span class="navigation-pagination__text">{pagination.numberOfPages}</span></f:widget.link>
						</li>
					</f:if>
					<f:if condition="{pagination.nextPage}">
						<li class="navigation-pagination__item navigation-pagination__item--last navigation-pagination__item--next">
							<f:widget.link class="navigation-pagination__link" addQueryStringMethod="GET" arguments="{currentPage: pagination.nextPage}">
								<span class="navigation-pagination__text"><span class="far fa-chevron-right"></span></span>
							</f:widget.link>
						</li>
					</f:if>
				</ul>
		    </nav>
        </div>
	</f:if>
</f:section>
</html>
