/* Fonts */
@import url("//fonts.googleapis.com/css?family=Muli:400,600");

/* Body */
html {
    font-size: 100%;
}
body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #333;
}

/* Aligments */
.text-center,
.heading--center,
.align-center {
	text-align: center;
}
.text-left,
.heading--left,
.align-left {
	text-align: left;
}
.text-right,
.heading--right,
.align-right {
	text-align: right;
}

/* Font Styles */
strong,
b {
	font-weight: 600;
}

em,
i {
	font-style: italic;
}

/******************************************************
 * Headings
 ******************************************************/
h1, h2, h3, h4, h5, h6,
.heading--h1, .heading--h2, .heading--h3, .heading--h4, .heading--h5, .heading--h6 {
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a,
.heading--h1 a, .heading--h2 a, .heading--h3 a, .heading--h4 a, .heading--h5 a, .heading--h6 a {
    color: inherit;
}

h1,
.heading--h1 {}


h2,
.heading--h2 {}

p + h2, p + .heading--h2,
ul + h2, ul + .heading--h2,
ol + h2, ol + .heading--h2 {
	margin-top: 1.5em;
}

h3,
.heading--h3 {}

p + h3, p + .heading--h3,
ul + h3, ul + .heading--h3,
ol + h3, ol + .heading--h3 {
	margin-top: 1.5em;
}

h4,
.heading--h4 {}

h4 + p, .heading--h4 + p {
	margin-top: .5em;
}

h5,
.heading--h5 {}

h5 + p, .heading--h5 + p {
	margin-top: .25em;
}

h6,
.heading--h6 {}

h6 + p, .heading--h6 + p {
	margin-top: .25em;
}

.heading--sub,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: 0.25em;
}

/******************************************************
 * Links
 ******************************************************/
a, .link {
    color: #b3b130;
	text-decoration: none;

	background-image: repeating-linear-gradient(90deg, #b3b130 0%, #b3b130 100%);
	background-image: repeating-linear-gradient(90deg, currentColor 0%, currentColor 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 1px;
	transition: background-size 0.3s ease-in-out, color 0.15s ease-in-out;
}

a:hover,
.link:hover {
    background-size: 100% 1px;
}

.anchor,
.link--arrow,
.link--arrow--back,
.navigation__link,
.header__logo-link,
.button,
.totop-button,
.gallery__link,
.files__link,
/*h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
/.heading--h1 a, .heading--h2 a, .heading--h3 a, .heading--h4 a, .heading--h5 a, .heading--h6 a,*/
.navigation-pagination__link,
.navigation-pagination--search li a {
	background: none;
	color: inherit;
}

/******************************************************
 * hr, Trenner
 ******************************************************/
hr {
	border: 0;
	border-top:	1px solid rgba(74, 74, 74, 0.35);
	margin-top: 2em;
	margin-bottom: 1.5em;
}

/******************************************************
 * Buttons
 * Info: Kategorie-Button, DropDown, Submit
 ******************************************************/
.button {
	cursor: pointer;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	text-decoration: none;
	color: inherit;
	text-align: center;
	border: 1px solid #b3b130;
	border-radius: 0;
	padding: 0.75em 1.5em;
	background-color: transparent;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover,
.button:focus,
.button--active {
    color: #fff;
    background-color: #b3b130;
}

p .button {
	margin-top: 1.5em;
}


/******************************************************
* Lists
******************************************************/
/* RTE Dropdowns */
.cke_contents ul, .cke_contents ol {
	padding-left: 1.25em;
}

.cke_contents ul:first-child,
.cke_contents ol:first-child {
    margin-top: 0;
}

.cke_contents ul {
	list-style: none;
	padding: 0;
}

.cke_contents ul li {
    padding-left: calc(5px + 1.05em);
    margin: 0.45em 0;
    line-height: 1.65;
}

.cke_contents ul li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #333;;
    color: inherit;
    margin-left: calc(-5px - 1.05em + 0.2em);
    margin-right: 0.85em;
    margin-bottom: 0.15em;
    vertical-align: baseline;
}

/******************************************************
 * Paragraphs, Text Styles, RTE
 ******************************************************/
 /* Tabellen */
 .ce-bodytext table {}




/**
 * Zurücksetzen der Überschriftengrössen für DropDown-Feld "Format" (zweites von links)
 * Grund: Texte in DropDown-Menü sonst zu gross und abgeschnitten, Überschriftenbezeichnung nicht vollständig lesbar.
 */
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6,
.cke_panel_listItem p,
.cke_panel_listItem * {
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0.775em;
    line-height: inherit;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    text-transform: none;
    letter-spacing: 0;
}

.cke_panel_listItem a {
    background: none;
}

.cke_panel_listItem a > * {
    font-size: 1em;
}

.cke_panel_listItem h1::after,
.cke_panel_listItem h2::after,
.cke_panel_listItem h3::after,
.cke_panel_listItem h4::after,
.cke_panel_listItem h5::after,
.cke_panel_listItem p::after,
.cke_panel_listItem span::after,
.cke_panel_listItem *::after,
.cke_panel_grouptitle::after {
    content: none;
}

.cke_panel_grouptitle {
    font-family: inherit;
    font-weight: bold;
}