// Fonts
@each $font in $fonts {
	@import url($font);
}

// Standardschrift
html {
	font-size: 100%;
}

body {
	font-family: $font-family;
	font-weight: $font-weight-normal;
	font-size: $font-size;
	line-height: $line-height;
	color: $font-color;
}

/******************************************************
 * Sticky Footer
 * https://codepen.io/dezertdezine/pen/zKjggy
 ******************************************************/
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
body > * {
	flex: none;
}

body > .anchor {
	flex-shrink: 0;
}

body > .wrapper {
	flex: 1 0 auto;
	overflow: auto;
}

/******************************************************
 * Helpers
 ******************************************************/
.nowrap {
	white-space: nowrap;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

[type="radio"].visuallyhidden,
[type="check"].visuallyhidden {
	// still focusable
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none;
}

strong,
b {
	font-weight: $font-weight-bold;
}

em,
i {
	font-style: italic;
}

// Messages
.message {
	padding: 0.65em 1.25em;
	margin-bottom: $grid-gap-between-columns/2;

	border: 1px solid $grey-medium;
	color: $grey-medium;	
	background-color: $grey-brighter;

	&--bad {
		border-color: rgba($error-color, 0.5);
		background-color: rgba($error-color, 0.15);
		color: $error-color;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

/******************************************************
 * Anker
 ******************************************************/
.anchor {
	display: block;
	z-index: -3;
	visibility: hidden;
	pointer-events: none;
	position: relative;
}

/******************************************************
 * Aligments
 ******************************************************/
.text-center,
.heading--center,
.align-center {
	text-align: center;
}
.text-left,
.heading--left,
.align-left {
	text-align: left;
}
.text-right,
.heading--right,
.align-right {
	text-align: right;
}

/******************************************************
 * Paragraphs
 ******************************************************/
p,
.paragraph {
	color: inherit;
	margin-top: 0;
	margin-bottom: 1em;
}

/******************************************************
 * Tabellen
 ******************************************************/
.ce-bodytext table {
	border-collapse: collapse;
	width: 100%;
	overflow: auto;
	display: block;

	-webkit-overflow-scrolling: touch;

	thead, tbody {
		width: 100%;
    	display: table;
	}

	td,
	th {
		padding: .5em .75em;
		border: 1px solid $grey-bright;
		min-width: 0;
		white-space: nowrap;

		&.td--allowlinebreak {
			white-space: normal;
			min-width: 120px;
		}
	}

	p {
		margin: 0;
	}
}
.text-center + .table {
	margin: auto;
}
.text-right + .table {
	margin-left: auto;
	margin-right: 0;
}

/******************************************************
 * Backgrounds
 ******************************************************/
@each $backgroundselector, $backgroundcolor in $backgroundcolors {
	.background-#{$backgroundselector} {
		position: relative;
	}

	.background-#{$backgroundselector}::before {
		content: "";
		position: absolute;
		z-index: 0;
		bottom: 0;
		top: 0;
		width: calc(100vw);
		background-color: $backgroundcolor;
		left: calc((100vw - 100%) / 2 * -1);
	}

	.background-#{$backgroundselector} > * {
		z-index: 1;
		position: relative;
	}
}

/******************************************************
 * Video Elemente
 ******************************************************/
.video {
	margin: 0;
	padding: 0;

	&__video {
		max-width: 100%;
		height: 0;
	}

	&__video:not(.plyr__video-wrapper) {
		/**
		* plyr greift nicht auf iPhones für mp4
		* Es wird das normale HTML5 Video-Tag eingsetzt.
		* Deshalb höhe auf auto, statt 0, damit Video sichtbar.
		*/
		height: auto;
	}
}

.plyr {
	&__play-large {
		border: 0;
		cursor: pointer;
		border-radius: 0;
		outline: 0;
	}
}

/******************************************************
 * Image-Gallery / Images
 ******************************************************/
.gallery {
	margin-top: -$grid-gap-between-columns/2;
	margin-bottom: -$grid-gap-between-columns/2;

	.container--no-gaps &,
	.content--no-gaps & {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__figure {
		margin: 0;
		margin-top: $grid-gap-between-columns/2;
		margin-bottom: $grid-gap-between-columns/2;

		.container--no-gaps &,
		.content--no-gaps & {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
	}

	&__image {
		display: block;
		max-width: 100%;
		height: auto;

		&--force-100-percent {
			max-width: none;
			width: 100%;
			height: auto;
		}

		&--round
		.gallery__figure--round & {
		    border-radius: 50%;
		}
	}

	&__caption {
		font-size: 0.875em;
		color: inherit;
		padding-top: 1em;
		padding-bottom: 1.25em;
	}
}

.lightbox {
	&:focus {
		outline: none;
	}
}

/******************************************************
 * Text & Media (Positionierung)
 ******************************************************/
.ce-textpic {
	.gallery {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.ce-intext:not(.ce-nowrap) {
		.gallery {
			display: inline-block;
			margin-top: -$grid-gap-between-columns/2;
			margin-left: $grid-gap-between-columns/2;
			padding-top: 0.35em;
			padding-bottom: 1.15em;
			width: 33.3333%;
		}

		&.ce-right .gallery {
			float: right;
		}

		&.ce-left .gallery {
			float: left;
		}
	}

    &.ce-center .gallery__image {
        margin-left: auto;
        margin-right: auto;
    }
    
	&.ce-right .gallery__image {
		margin-left: auto;
		margin-right: 0;
	}

	&.ce-left .gallery__image {
		margin-left: 0;
		margin-right: auto;
	}
}

/******************************************************
 * Scrollslider
 ******************************************************/
 .scrollslider {
	position: relative;

	&__inner {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: nowrap;

		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0 !important;
			display: none !important;
			-webkit-appearance: none;
		}

		> * {
			scroll-snap-align: start;
			flex: none;
		}
	}
}

/******************************************************
 * Video Elemente (Plyr)
 ******************************************************/
 .plyr {
	height: auto;

	&__play-large {
		background-color: $black;
		padding: 1.65em;
	}

	&__controls {}

	&--video .plyr__controls {
		padding-top: 0.875em;
	}

	&__video-embed {}
}
.plyr__control.plyr__tab-focus{
	box-shadow:0 0 0 5px rgba($plyr-color,.5);
}
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true]{
	background:$plyr-color;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true]{
	background:$plyr-color;
}
.plyr__control--overlaid {
	background:rgba($plyr-color,.8);
}
.plyr__control--overlaid:focus,
.plyr__control--overlaid:hover{
	background:$plyr-color;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before{
	background:$plyr-color;
}
.plyr--full-ui input[type=range]{
	color:$plyr-color;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track{
	box-shadow:0 0 0 5px rgba($plyr-color,.5);
}
.plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track{
	box-shadow:0 0 0 5px rgba($plyr-color,.5);
}
.plyr--full-ui input[type=range].plyr__tab-focus::-ms-track{
	box-shadow:0 0 0 5px rgba($plyr-color,.5);
}
.plyr--video {
	.plyr__controls {
		background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.25));
		opacity: 0;
	}
	&:hover {
		.plyr__controls {
			opacity: 1;
		}
	}
}
.plyr--playing .plyr__poster {
	z-index: -1;
}
.plyr--video .plyr__controls {
	transform: translateZ(1px);
}
.plyr__control--overlaid {
	transform: translateZ(1px) translateX(-50%) translateY(-50%);
}

/******************************************************
 * Extbase Debugger
 ******************************************************/
.extbase-debugger-floating {
	flex: none;
}
