<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:format.nl2br>
    Neue Kursanmeldung für {event.title}
    am {f:format.date(date: event.startdate, format: '%d.%m.%Y')}</p>
</f:format.nl2br>


<p>Anmeldedaten:</p>

<ul>
    <li>{registration.firstname}</li>
    <li>{registration.lastname}</li>
    <li>{registration.address}</li>
    <li>{registration.zip}</li>
    <li>{registration.city}</li>
    <li>{registration.email}</li>
    <li>{registration.phone}</li>
</ul>
<f:format.nl2br>Bemerkung:
    {registration.notes}
</f:format.nl2br>

<f:render partial="Notification/RegistrationFields" arguments="{registration: registration}"/>

</html>