<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
	Sollten hier Anpassungen vorgenommen werden, so müssen ebenfalls in folgendem Template Angepassungen vorgenommen werden:
	Resources/Private/Extensions/gridelements/Layouts/General.html
</f:comment>

<f:spaceless>
<f:comment>BEGIN: Exclude CType shortcut - - - - - - - - - - - - - - - - - - - - - - - - - - - -</f:comment>
<f:if condition="{data.CType} != 'shortcut'">
	<f:comment>
		Siehe: fileadmin/theme/typoscript/pagets/cms/tce-defaults.ts
	</f:comment>

	<f:comment>Layout 1 => Fluid</f:comment>
	<f:comment>Layout 3 => Fluid + no gaps, links und rechts aber beibehalten</f:comment>
	<f:if condition="{data.layout} == 1">
		</div>
		<div class="container container--fluid container--no-gaps">
	</f:if>

	<f:if condition="{data.layout} == 3">
		</div>
		<div class="container container--fluid">
	</f:if>

	<f:comment>
		add classes of layout & grid options
			- smaller content width
			- paddings (before & after)
			- backgrounds
	</f:comment>
	<section data-ctype="{data.CType}" data-listtype="{data.list_type}" class="content content-section{f:if(condition: '{data.layout} == 5', then: ' content--smaller')}{f:if(condition: '{data.space_before_class}', then: ' {data.space_before_class}')}{f:if(condition: '{data.space_after_class}', then: ' {data.space_after_class}')}{f:if(condition: '{data.frame_class} != \'default\'', then: ' background-{data.frame_class}')}">
		<div data-ctype="{data.CType}" class="col12">

<f:comment>END: Exclude CType shortcut - - - - - - - - - - - - - - - - - - - - - - - - - - - -</f:comment>
</f:if>

		<span class="anchor" id="c{data.uid}"></span>
		<f:if condition="{data._LOCALIZED_UID}">
			<span class="anchor" id="c{data._LOCALIZED_UID}"></span>
		</f:if>
		<f:if condition="{data.l10n_source}">
			<span class="anchor" id="c{data.l10n_source}"></span>
		</f:if>

		<f:render section="Before" optional="true">
			<f:render partial="DropIn/Before/All" arguments="{_all}" />
		</f:render>
		<f:render section="Header" optional="true">
			<f:render partial="Header/All" arguments="{_all}" />
		</f:render>
		<f:render section="Main" optional="true" />
		<f:render section="Footer" optional="true">
			<f:render partial="Footer/All" arguments="{_all}" />
		</f:render>
		<f:render section="After" optional="true">
			<f:render partial="DropIn/After/All" arguments="{_all}" />
		</f:render>

<f:comment>BEGIN: Exclude CType shortcut - - - - - - - - - - - - - - - - - - - - - - - - - - - -</f:comment>
<f:if condition="{data.CType} != 'shortcut'">
		</div>
	</section>

	<f:if condition="{data.layout} == 1 || {data.layout} == 3">
		</div>
		<div class="container">
	</f:if>

<f:comment>END: Exclude CType shortcut - - - - - - - - - - - - - - - - - - - - - - - - - - - -</f:comment>
</f:if>

</f:spaceless>
</html>
