<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	
	<f:layout name="General" />

	<f:section name="content">
		<f:variable name="template" value="2" />
		<div class="wrapper hyphenate">
			<header class="header header--home">
				<f:render partial="Header/Navigation" arguments="{_all}" />
				<f:render partial="Header/Banner" />
			</header>

			<!--TYPO3SEARCH_begin-->
			<main class="main">
				<f:render partial="Title" arguments="{data:data, news_detail_title:news_detail_title, project_detail_title:project_detail_title}" />
				<f:render partial="Content" />
			</main>
			<!--TYPO3SEARCH_end-->
			<a href="#top" class="totop-button scroll"><span class="visuallyhidden"><f:translate key="LLL:EXT:t8_jetpack/Resources/Private/Language/locallang.xlf:toTop" /></span></a>
		</div>

		<f:render partial="Footer" arguments="{footerPid:footerPid,siteName:siteName}" />
	</f:section>
</html>
