<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:layout name="General" />

	<f:section name="content">
		<f:spaceless>
			<f:if condition="{data.header}">
				<f:then>
					<f:render partial="Header/All" arguments="{data:data}" />
				</f:then>
			</f:if>
			<div class="col4 col-medium-12 col-small-12">
				<f:for each="{children.1.1}" as="el">
					<f:cObject typoscriptObjectPath="tt_content.{el.data.CType}" data="{el.data}" table="tt_content" />
				</f:for>
			</div>
			<div class="col8 col-medium-12 col-small-12">
				<f:for each="{children.1.2}" as="el">
					<f:cObject typoscriptObjectPath="tt_content.{el.data.CType}" data="{el.data}" table="tt_content" />
				</f:for>
			</div>
		</f:spaceless>
	</f:section>
</html>
