<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:if condition="{data.header} || {data.subheader}">
		<header class="ce-header col12">
			<f:render partial="Header/Header" arguments="{data:data}" />
		</header>
	</f:if>
</html>
