<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<div class="container">
		<f:cObject typoscriptObjectPath="lib.content" data="{colPos: '100', slide: '-1'}" />
	</div>
</html>
