/**
CORE STYLES
*/

#cc-notification
{
	position: fixed;
	z-index: 99999998;
	left: 0;
	width: 100%;
    background-color: #fff; 
}

#cc-notification.cc-bottom
{
	bottom: 0;
}

#cc-notification.cc-top
{
	top: 0;
}

#cc-notification.cc-push
{
	top: 0;
}

#cc-notification.cc-mobile {}

/* Fonts */
#cc-notification h2,
#cc-notification h3,
#cc-notification p {
    font-size: 1em;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}

/* Layout */
#cc-notification-wrapper {
    padding: 0.625em 20px;
}


#cc-notification-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#cc-notification-wrapper h2 {
    margin: 0;
    padding: 0.75em 1em 0.75em 0;
    flex: 1 0 auto;
    width: 480px;
    max-width: 100%;
}

#cc-notification-wrapper .cc-notification-buttons {
    flex: none;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}


/* Permissions (Checkboxes) */
#cc-notification #cc-notification-permissions
{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Button */
.cc-notification-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cc-notification-buttons li a {
    display: inline-block;
    padding: 0.75em 1.5em;
    border: 1px solid;
    background: transparent;
}

/* Styles Settings Modal  & cc-tag removed */

/* Video Overlay */
.image_off
{
    height: 0;
    padding-bottom: 28.125%;
    padding-top: 28.125%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image_off::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.65;
}

.text_off
{
    position: relative;
    font-size: 1.25em;
    display: block;
    text-align: center;
}

.bg_text {
    padding: 20px;
}