<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e="http://typo3.org/ns/DERHANSEN/SfEventMgt/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="main">
    <f:debug>{_all}</f:debug>
    <f:if condition="{event.registrationPossible}">
        <f:then>
            <e:title pageTitle="{event.title}" />

            <f:if condition="{event.enableWaitlist}">
                <f:if condition="{event.registrations->f:count()} >= {event.maxParticipants}">
                    <p>
                        <strong><f:translate key="registration.form.waitlist" /></strong>
                    </p>
                </f:if>
            </f:if>

            <f:form object="{registration}" name="registration" action="saveRegistration" arguments="{event: event}" class="registration" enctype="multipart/form-data">
                <fieldset>

                    <f:render partial="Registration/SpamCheck" arguments="{spamSettings: settings.registration.spamCheck, event: event}" />

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'firstname')}">
                        <label for="firstname">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.firstname" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="firstname">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="firstname" property="firstname" value="{e:prefill(fieldname: 'firstname', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.firstname'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'lastname')}">
                        <label for="lastname">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.lastname" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="lastname">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="lastname" property="lastname" value="{e:prefill(fieldname: 'lastname', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.lastname'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'address')}">
                        <label for="address">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.address" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="address">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="address" property="address" value="{e:prefill(fieldname: 'address', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.address'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'zip')}">
                        <label for="zip">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.zip" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="zip">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="zip" property="zip" value="{e:prefill(fieldname: 'zip', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.zip'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'city')}">
                        <label for="city">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.city" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="city">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="city" property="city" value="{e:prefill(fieldname: 'city', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.city'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'email')}">
                        <label for="email">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.email" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="email">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="email" property="email" value="{e:prefill(fieldname: 'email', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.email'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'phone')}">
                        <label for="phone">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.phone" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="phone">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="phone" property="phone" value="{e:prefill(fieldname: 'phone', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.phone'}"/>
                    </div>

                    <f:if condition="{event.maxRegistrationsPerUser} > 1">
                        <div class="event-registration-row">
                            <label for="amountOfRegistrations"><f:translate key="tx_sfeventmgt_domain_model_registration.amountOfRegistrations" /></label>
                            <f:form.select id="amountOfRegistrations" property="amountOfRegistrations" options="{e:event.simultaneousRegistrations(event: '{event}')}" />
                        </div>
                    </f:if>

                    <f:if condition="{event.enablePayment}">
                        <br/>
                        <div class="event-registration-row">
                            <label for="paymentmethod"><f:translate key="tx_sfeventmgt_domain_model_registration.paymentmethod" /></label>
                            <f:form.select id="paymentmethod" property="paymentmethod" options="{paymentMethods}" />
                        </div>
                    </f:if>

                    <br/>
                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'notes')}">
                        <label for="notes">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.notes" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="notes">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textarea id="notes" property="notes"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.notes'}"/>
                    </div>

                    <f:if condition="{event.registrationFields}">
                        <f:for each="{event.registrationFields}" as="field">
                            <f:render partial="Registration/Fields/{field.partialName}" arguments="{field: field}" />
                        </f:for>
                    </f:if>

                    <f:render partial="FormErrors" arguments="{field: 'registration.accepttc'}"/>
                    <f:if condition="{settings.reCaptcha.siteKey}">
                        <div class="event-registration-row recaptcha {e:validation.errorClass(fieldname: 'recaptcha')}">
                            <script src="{settings.reCaptcha.apiUrl}" async defer></script>
                            <div class="g-recaptcha" data-sitekey="{settings.reCaptcha.siteKey}"></div>
                            <f:render partial="FormErrors" arguments="{field: 'registration.recaptcha'}"/>
                        </div>
                    </f:if>
                    <br/>
                    <f:form.submit value="{f:translate(key:'event.submit-registration')}" class="submit"/>
                </fieldset>
            </f:form>

            <f:if condition="{settings.detailPid}">
                <f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{event: event}" class="button"><f:translate key="event.backDetailsText" /></f:link.action>
            </f:if>

            <f:link.action action="list" pageUid="{settings.listPid}" class="button"><f:translate key="event.backtext" /></f:link.action>

        </f:then>
        <f:else>

            <f:translate key="event.message.registrationnotpossible"/>

        </f:else>
    </f:if>

</f:section>