<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Header">
	<f:if condition="{gallery.position.noWrap} != 1">
		<f:render partial="Header/All" arguments="{_all}" />
	</f:if>
</f:section>

<f:section name="Main">
	<div data-pos-hori="{gallery.position.horizontal}" data-pos-verti="{gallery.position.vertical}" data-post-nowrap="{gallery.position.noWrap}" class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}{f:if(condition: '{gallery.position.horizontal} == \'right\' && {gallery.position.vertical} == \'intext\' && {gallery.position.noWrap}', then: ' content content--reverse')}{f:if(condition: '{gallery.position.horizontal} == \'left\' && {gallery.position.vertical} == \'intext\' && {gallery.position.noWrap}', then: ' content')}">

		<f:if condition="{gallery.position.vertical} != 'below'">
			<f:if condition="{gallery.position.horizontal} == 'right' && {gallery.position.vertical} == 'intext' && {gallery.position.noWrap}">
				<f:then>
					<div class="col4 col-medium-4 col-small-12">
						<f:render partial="Media/Gallery" arguments="{_all}" />
					</div>
				</f:then>
				<f:else>
					<f:if condition="{gallery.position.horizontal} == 'left' && {gallery.position.vertical} == 'intext' && {gallery.position.noWrap}">
						<f:then>
							<div class="col4 col-medium-4 col-small-12">
								<f:render partial="Media/Gallery" arguments="{_all}" />
							</div>
						</f:then>
						<f:else>
							<f:render partial="Media/Gallery" arguments="{_all}" />
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:if>

		<f:if condition="{data.bodytext}">
			<f:then>
				<div class="ce-bodytext{f:if(condition: '{gallery.position.horizontal} == \'right\' && {gallery.position.vertical} == \'intext\' && {gallery.position.noWrap}', then: ' col8 col-medium-8 col-small-12')}{f:if(condition: '{gallery.position.horizontal} == \'left\' && {gallery.position.vertical} == \'intext\' && {gallery.position.noWrap}', then: ' col8 col-medium-8 col-small-12')}">
					<f:if condition="{gallery.position.noWrap}">
						<f:render partial="Header/All" arguments="{_all}" />
					</f:if>
					<f:format.html>{data.bodytext}</f:format.html>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{gallery.position.noWrap}">
					<f:if condition="{data.header}">
						<div class="ce-bodytext{f:if(condition: '{gallery.position.horizontal} == \'right\' && {gallery.position.vertical} == \'intext\' && {gallery.position.noWrap}', then: ' col8 col-medium-8 col-small-12')}{f:if(condition: '{gallery.position.horizontal} == \'left\' && {gallery.position.vertical} == \'intext\' && {gallery.position.noWrap}', then: ' col8 col-medium-8 col-small-12')}">
							<f:render partial="Header/All" arguments="{_all}" />
						</div>
					</f:if>
				</f:if>
			</f:else>
		</f:if>

		<f:if condition="{gallery.position.vertical} == 'below'">
			<f:if condition="{gallery.position.horizontal} == 'right' && {gallery.position.vertical} == 'intext' && {gallery.position.noWrap}">
				<f:then>
					<div class="col4 col-medium-4 col-small-12">
						<f:render partial="Media/Gallery" arguments="{_all}" />
					</div>
				</f:then>
				<f:else>
					<f:if condition="{gallery.position.horizontal} == 'left' && {gallery.position.vertical} == 'intext' && {gallery.position.noWrap}">
						<f:then>
							<div class="col4 col-medium-4 col-small-12">
								<f:render partial="Media/Gallery" arguments="{_all}" />
							</div>
						</f:then>
						<f:else>
							<f:render partial="Media/Gallery" arguments="{_all}" />
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:if>
	</div>
</f:section>

</html>
