<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="General" />

    <f:section name="content">
        <span style="float: right">
            <f:link.typolink parameter="{settings.listPid}">{f:translate(key: 'LLL:EXT:t8_custom/Resources/Private/Language/locallang.xlf:mainevent.backlink')}</f:link.typolink>
        </span>

        <h2>{mainEvent.title}</h2>

        {mainEvent.teaser -> f:format.raw()}
        Description: {mainEvent.description -> f:format.raw()}


        <h3>Contentelements:</h3>
        <f:cObject typoscriptObjectPath="lib.mainevent.contentElementRendering">{mainEvent.contentElementIdList}</f:cObject>

        <h3>Files:</h3>
        <ul>
            <f:for each="{mainEvent.files}" as="file">
                <li>
                    <a href="{file.originalResource.publicUrl}" target="_blank">
                        <f:if condition="{file.originalResource.title}">
                            <f:then>{file.originalResource.title}</f:then>
                            <f:else>{file.originalResource.originalFile.name}</f:else>
                        </f:if>
                    </a>
                </li>
            </f:for>
        </ul>

        <h3>Subevents / Registration</h3>
        <f:for each="{mainEvent.subevents}" as="subevent">
            <span>{subevent.title} <br /></span>
            <f:if condition="{subevent.enableRegistration}">
                /<span>
                    <f:if condition="{settings.registrationPid} !=''">
                        <f:link.action action="registration" controller="Event" extensionName="sfeventmgt" pluginName="Pievent" arguments="{event : subevent}" pageUid="{settings.registrationPid}">
                            Registration
                        </f:link.action>
                    </f:if>
                </span>
            </f:if>
        </f:for>
    </f:section>
</html>