<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="General" />

    <f:section name="content">
        <h3>Filter</h3>
        <f:if condition="{settings.showcategoryfilter} && {categories}">
            <ul>
                <f:for each="{categories}" as="category">
                    <li class="cat-{category.uid}">{category.title}</li>
                </f:for>
            </ul>
        </f:if>

        <ul>
            <f:for each="{mainEvents}" as="mainEvent">
                <li><f:link.action action="detail" arguments="{mainEvent : mainEvent}" pageUid="{settings.detailPid}">{mainEvent.title}</f:link.action>
                    <f:for each="{mainEvent.subevents}" as="subevent">
                        {subevent.eventtype},
                        <f:format.date format="%a, %d.%m.%Y">{subevent.startdate}</f:format.date>,
                        {subevent.location.title},
                    </f:for>
                </li>
            </f:for>
        </ul>
    </f:section>
</html>