/******************************************************
 * POWERMAIL Forms (powermail)
 ******************************************************/
fieldset {
	border: 0;
	padding: 0;
}

// Placeholder text
::-webkit-input-placeholder {
	color: $grey-medium;
	text-transform: none;
}
:-moz-placeholder {
	color: $grey-medium;
	text-transform: none;
}
::-moz-placeholder {
	color: $grey-medium;
	text-transform: none;
}
:-ms-input-placeholder {
	color: $grey-medium;
	text-transform: none;
}

.form {
	margin-top: -0.75em;
	margin-bottom: -0.75em;

	&__legend {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px
	}

	&__fieldwrap {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		position: relative;

		&--submit {
			text-align: right;
		}
	}

	&__input {
		width: 100%;
		border: 2px solid $grey-bright;
		border-radius: 0;
		background-color: transparent;
		font-family: inherit;
		color: $grey-dark;
		font-weight: inherit;
		font-size: inherit;
		line-height: 1.5;
		border-radius: 0;
		padding: 0.65em 0.85em;
		outline: none;
	    box-shadow: none;
	    background-clip: padding-box;

		&:focus {
			border-color: $grey-medium;
		}

		&:invalid:focus {
			border-color: $error-color;
		}

		&:valid:focus {
			border-color: $grey-medium;
		}

		&--textarea {
			min-height: 0;
			vertical-align: top;
		}
	}

	&__label {
		margin-bottom: 0.35em;
		display: block;
	}

	/* Formular: Radio */
	&__radios__item {
		> .form__input--radio {
			/*display: none;*/
			// still focusable
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;

			+ .form__label--radio {
				font-size: 1em;
				font-weight: $font-weight-normal;
				letter-spacing: 0;
				color: $font-color;
				padding-left: 1.65em;
				cursor: pointer;
				position: relative;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				line-height: 1.65;
				display: flex;
				margin: 0.675em 0;

				&::before {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					border: 1px solid $grey-medium;
					background: $white;
					position: absolute;
					left: 0;
					top: 3px;
					border-radius: 50%;
				}

				&::after {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					background: transparent;
					position: absolute;
					left: 0;
					top: 3px;
					margin: 1px;
					border-radius: 50%;
					transform: scale(1);
					transition: transform 0.125s ease-out;
				}
			}

			&:focus + .form__label--radio:before {
				border-color: $grey-dark;
			}

			&:checked + .form__label--radio {
				&:before {
					border-color: $grey-dark;
					background-color: $grey-dark;
				}

				&:after {
					transform: scale(0.375);
					background: $white;
				}
			}

			&:disabled + .form__label--radio {
				color: $grey-medium;
				cursor: default;

				&::before {
					background-color: $grey-brighter;
				}
			}
		}
	}

	/* Formular: Checkbox */
	&__checkboxes__item {
		> .form__input--check {
			/*display: none;*/
			// still focusable
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;

			+ .form__label--check {
				font-size: 1em;
				font-weight: $font-weight-normal;
				letter-spacing: 0;
				color: $font-color;
				padding-left: 1.65em;
				cursor: pointer;
				position: relative;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				line-height: 1.65;
				display: flex;
				margin: 0.675em 0;

				&::before {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					border: 1px solid $grey-medium;
					background: $white;
					position: absolute;
					left: 0;
					top: 3px;
				}
			}

			&:focus + .form__label--check:before {
				border-color: $grey-dark;
			}

			&:checked + .form__label--check {
				&:before {
					background-color: $grey-dark;
					border-color: $grey-dark;
					background-image: url(#{$icons-folder-path}/icon-check.svg);
					background-size: 70%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
	}

	/* Formular: Select */
	&__input--select {
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    cursor: pointer;
	    text-align: left;
	    box-shadow: none;
	    background-clip: padding-box;
		appearance: none;
		transition: border-color 0.25s ease-in-out;

		&:focus, &:active {
			border-color: $grey-dark;
		}

		&__wrap {
			position: relative;

			&::after {
				content: "\f078";
				font-family: 'Font Awesome 5 Pro';
				font-weight: $fa-default-weight;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				position: absolute;
				right: .85em;
				top: 50%;
				transform: translateY(-50%);
				color: $font-color;
			}
		}
	}

	/* Input Type File, Upload */
	&__fieldwrap--file {
		.form__label {
			display: block;
		}
	}

	&__input.form__input--file {
	    width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;

		& + .form__label--file {
			background-color: $grey-brighter;
			border: 2px solid $grey-brighter;
			width: 100%;
			/* max-width: 400px; */
			border-radius: 0;
			font-family: inherit;
			color: $grey-medium;
			font-weight: inherit;
			font-size: inherit;
			line-height: 1.5;
			border-radius: 0;
			padding: 0.65em 0.85em;
			outline: none;
		    box-shadow: none;
		    background-clip: padding-box;
			transition: border-color 0.15s ease-in-out;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 0;

			&::before {
				content: "\f0ee";
				font-family: 'Font Awesome 5 Pro';
				font-weight: $fa-default-weight;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				margin-right: 0.5em;
			}

			&:focus, &:active {
				border-color: $grey-dark;
				color: $grey-dark;
			}

			&:hover {
				border-color: $grey-medium;
			}
		}

		&:focus + .form__label--file,
		& + .form__label--file:focus,
		&:active + .form__label--file,
		& + .form__label--file:active {
		    border-color: $grey-dark;
			color: $grey-dark;
		}

		&:invalid:focus + .form__label--file,
		&:invalid:active + .form__label--file {
		    border-color: $error-color;
		}

		&:disabled +  .form__label--file,
		&:disabled:hover +  .form__label--file,
		&:disabled:focus +  .form__label--file,
		&:disabled:active +  .form__label--file {
			color: rgba($grey-medium, 0.75);
			background-color: transparent;
			border-color: $grey-brighter;
			cursor: default;
		}


	}

	/* Formular Errors */
	&__errors {
		list-style: none;
		margin: 0.5em 0;
		padding: 0;
		color: $error-color;
		font-size: 0.75em;
	}

}

/* Meldung nach Erstellung */
.powermail_create {
	margin-top: 1.5em;
}

/* Form errors */
.parsley-errors-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.88em;
	letter-spacing: 0.03em;
    margin-top: 0.5em;
    color: $error-color;
}

/******************************************************
 * NEWS (news)
 ******************************************************/
/* News List */
.news-list {
	&__item {
		padding: $grid-gap-between-columns/2;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		> * {
			max-width: 100%;
		}
	}

	&__header {
		flex: 1 0 auto;
	}

	&__heading {
		margin-top: 0;
	}

	&__teaser {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		height: 1em * $line-height * 2;
	}

	&__category {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		&__item + &__item {
			&::before {
				content: ", ";
			}
		}
	}
}

/* News-Detail */
.news-detail {
	padding-bottom: 3em;

	&__category {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		&__item + &__item {
			&::before {
				content: ", ";
			}
		}
	}
}


/******************************************************
* COOKIE-BANNER (aip_cookie_law)
******************************************************/
#cc-notification {
	background-color: $grey-brighter;
}

.cc-notification-buttons {
	li a {
		cursor: pointer;
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		outline: none;
		text-decoration: none;
		color: inherit;
		text-align: center;
		border: 1px solid;
		border-radius: 0;
		padding: 0.5em 1.25em 0.5em;
		background-color: transparent;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

		&:hover,
		&:focus {
			color: $white;
			background-color: $font-color;
			border-color: $font-color;
		}

		&::before, &::after {
			content: none;
		}
	}
}

/******************************************************
* MAP
******************************************************/
.map {
    height: 520px;
    max-height: 65vh;
}
