{namespace vh=In2code\Powermail\ViewHelpers}
<fieldset class="form__fieldset {f:if(condition: '{page.css}', then: 'col{page.css} col-medium-{page.css} col-small-12', else: 'col12')}">
	<legend class="form__legend visuallyhidden">{page.title}</legend>

	<div class="content">
		<f:for each="{page.fields}" as="field" iteration="iteration">
			<vh:misc.createRowTags columns="{settings.styles.numberOfColumns}" class="{settings.styles.framework.rowClasses}" iteration="{iteration}">
				<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}" />
			</vh:misc.createRowTags>
		</f:for>
	</div>
</fieldset>
