{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />

Render Powermail Form
{form} 			All Forms with their Pages and their Fields
{ttContentData}		All values from content element with plugin


<f:section name="main">
	<f:alias map="{flashMessageClass:'powermail_message_error'}">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />
	</f:alias>

	<f:if condition="{form}">
		<f:then>
			<f:form
				action="{action}"
				section="c{ttContentData.uid}"
				name="field"
				enctype="multipart/form-data"
				additionalAttributes="{vh:Validation.EnableParsleyAndAjax(form:form)}"
				addQueryString="{settings.misc.addQueryString}"
				class="{settings.styles.framework.formClasses} {vh:Misc.MorestepClass(activate:settings.main.moresteps)}">
				
				<f:render partial="Misc/FormError" arguments="{_all}" />

				<f:for each="{form.pages}" as="page">
					<f:render partial="Form/Page" arguments="{_all}" />
				</f:for>

				<f:form.hidden name="mail[form]" value="{form.uid}" class="powermail_form_uid" />
				<f:render partial="Misc/HoneyPod" arguments="{form:form}" />
			</f:form>
		</f:then>
		<f:else>
			<f:translate key="error_no_form" />
		</f:else>
	</f:if>

</f:section>
