<f:if condition="{accordion_container}">
    <h{data.header_layout}>{data.header}</h{data.header_layout}>

    <div class="accordion frame-default" id="accordion_{data.uid}">
        <f:for each="{accordion_container}" as="container">
            <div class="card">
                <div class="card-header" id="heading-{container.data.uid}">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{container.data.uid}" aria-expanded="true" aria-controls="collapse-{container.data.uid}">
                        <p class="accordion--title">{container.data.accordion_header}</p>
                    </button>
                </div>

                <div id="collapse-{container.data.uid}" class="collapse" aria-labelledby="heading-{container.data.uid}" data-parent="#accordion_{data.uid}">
                    <div class="card-body">
                        <f:format.html>{container.data.accordion_content}</f:format.html>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:if>
