<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{navigationMeta}">
    <f:then>
        <nav class="navigation navigation--meta">
            <ul class="navigation__list navigation__list--meta">
                <f:for each="{navigationMeta}" as="navigationMetaItem">
                    <f:render partial="Header/Navigation/Elements/Item" arguments="{item:navigationMetaItem,pid:pid}"/>
                </f:for>
            </ul>
        </nav>
    </f:then>
</f:if>

</html>

