<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  
	<footer class="footer">
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.content" data="{pid:footerPid}" />
		</div>
	</footer>
</html>
