{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--captcha {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} powermail_fieldwrap powermail_fieldwrap_type_captcha powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<f:form.textfield
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			value=""
			class="form__input form__input--captcha powermail_captcha {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
			additionalAttributes="{vh:Validation.CaptchaDataAttribute(field:field)}" />

	<vh:Validation.Captcha field="{field}" alt="captcha" class="powermail_captchaimage" id="powermail_captchaimage" />

	<f:if condition="{settings.validation.client}">
		<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
	</f:if>
</div>
