{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--check {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} powermail_fieldwrap powermail_fieldwrap_type_check powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />
	
	<div class="form__checkboxes">
		<f:for each="{field.modifiedSettings}" as="setting" iteration="index">
			<div class="form__checkboxes__item {settings.styles.framework.checkClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}">
				<f:form.checkbox
						property="{field.marker}."
						value="{setting.value}"
						checked="{vh:Misc.PrefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
						id="powermail_field_{field.marker}_{index.cycle}"
						additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field, iteration:index)}"
						class="form__input form__input--check powermail_checkbox powermail_checkbox_{field.uid}" />
				
				<label class="form__label form__label--check" for="powermail_field_{field.marker}_{index.cycle}">
					<vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels>
				</label>
			</div>
		</f:for>
		<f:if condition="{settings.validation.client}">
			<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
		</f:if>
	</div>
</div>
