{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	{vh:Form.Countries()} will try to get the country list from the extension static_info_tables (and _de, _fr etc...)
	If static_info_tables is not installed, a static list of countries and the ISO3 code will be shown in frontent
	If you want to change sorting, Value or Label, please install static_info_tables
</f:comment>


<div class="form__fieldwrap form__fieldwrap--select {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} powermail_fieldwrap powermail_fieldwrap_type_country powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="form__input--select__wrap">
		<f:form.select
				property="{field.marker}"
				options="{vh:Form.Countries(key:'isoCodeA3',value:'officialNameLocal',sortbyField:'isoCodeA3',sorting:'asc')}"
				prependOptionLabel="{f:translate(key:'pleaseChoose')}"
				class="orm__input form__input--select powermail_country {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				id="powermail_field_{field.marker}" />
	</div>
</div>