{namespace vh=In2code\Powermail\ViewHelpers}

	<f:comment>
		Per default the HTML-Output is parsed through a htmlspecialchars() function for security reasons.
		If you are aware of possible security issues from your editory, you can enable html output via TypoScript constants:
			plugin.tx_powermail.settings.setup.misc.htmlForHtmlFields = 1
	</f:comment>

<div class="form__fieldwrap form__fieldwrap--html {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_html powermail_fieldwrap_{field.marker}">
	<div class="form__html-code-wrap {settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:if condition="{settings.misc.htmlForHtmlFields}">
			<f:then>
				<f:format.raw>{field.text}</f:format.raw>
			</f:then>
			<f:else>
				{field.text}
			</f:else>
		</f:if>
	</div>
</div>
