
<div class="form__fieldwrap form__fieldwrap--submit {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker}">
	<f:form.button class="button form__submit" type="submit" name="submit" value="{field.title}">{field.title}</f:form.button>
</div>
