
<div class="form__fieldwrap form__fieldwrap--text {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_text powermail_fieldwrap_{field.marker}">
	<div class="form__text {settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:format.nl2br>{field.text}</f:format.nl2br>
	</div>
</div>
