<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Sehr geehrter Herr {registration.firstname} {registration.lastname},</p>
<p>Vielen Dank für Ihre Teilnahme am Kurs:</p>
<f:format.nl2br>{event.title}
    vom {f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  bis {f:format.date(date: event.enddate, format: '%d.%m.%Y - %H:%M')}
</f:format.nl2br>

<p>Freundliche Grüsse <br /> Ateminstitut Schweiz - agathe löliger gmbh
</p>
<f:format.html>{settings.notification.senderSignature}</f:format.html>

</html>